/* Reset some default styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Style the entire app */
.App {
  text-align: center;
}

/* Style the header */
.App-header {
  background-color: #640b7d; /* Pink */
  color: #fff; /* White */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the profile image */


/* Style the main content */
.App-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

/* Style sections within the main content */
.App-section {
  background-color: #43d6d4; /* Blue */
  color: #000000; /* White */
  padding: 100px;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* Added to make sections full width */
  text-align: center;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Style links within the sections */
a {
  color: #000000; /* Red */
  text-decoration: none;
}

/* Style the footer */
.App-footer {
  background-color: #2b2b2b; /* Dark Gray */
  color: #b9b4b4; /* White */
  padding: 10px;
}

/* Style the horizontal navigation */
.App-nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.App-nav li {
  padding: 10px;
}

.App-nav a {
  color: #221185; /* Teal */
  text-decoration: none;
}

/* Style the colorful section */
.colorful {
  background-color: #e00505; /* Orange */
  color: #ffffff; /* Black */
}